body{
    background-color: #dcdde1
}
body > header{
    height: 50px;
    background-color: #303030;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px
}
body > header .side_bar_nav{
    padding-top: 15px;
}
body > header .side_bar_nav .side_bar_icon{
    float: left;
    width: 32px;
    height: 20px;
    margin-right: 25px;
    cursor: pointer
}
body > header .side_bar_nav .sigle_img{
    float: left;
    width: 110px;
    height: 20px;
    display: inline-block;
    cursor: pointer
}
body > header .search_box{
    width: 550px;
    padding-top: 8px
}
body > header .search_box .input-group{
    width: 100%;
    height: 35px;
}
body > header .search_box .input-group .form-control, 
body > header .search_box .input-group .input-group-text{
    height: 100%
}
body > header .search_box .input-group .form-control{
    background-color: black;
    border: none
}
body > header .search_box .input-group .input-group-text{
    background-color: #414141;
    width: 85px;
    border: none
}
body > header .search_box .input-group .input-group-text i{
    display: block;
    margin: auto
}
body > header .nav_bar{
    padding-top: 12px
}
body > header .nav_bar .nav_bar_item{
    display: inline-block;
    cursor: pointer
}
body > header .nav_bar .nav_bar_item > div{
    position: relative
}
body > header .nav_bar .nav_bar_item .icon{
    width: 25px;
    height: 20px
}
body > header .nav_bar .nav_bar_item + .nav_bar_item{
    margin-left: 15px
}
body > header .nav_bar .nav_bar_item .sub_menu{
    position: absolute;
    top: 40px;
    background-color: white;
    width: 250px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.1);
    display: none
}
body > header .nav_bar .nav_bar_item .sub_menu .sub_menu_item{
    display: block;
    width: 100%;
    padding: 10px
}
body > header .nav_bar .nav_bar_item .sub_menu .sub_menu_item:hover{
    background-color: #e5e5e5
}
body > header .nav_bar .nav_bar_item .sub_menu .sub_menu_item > div{
    position: relative
}
body > header .nav_bar .nav_bar_item .sub_menu .sub_menu_item .icon{
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 25px;
    border-radius: 5px
}
body > header .nav_bar .nav_bar_item .sub_menu .sub_menu_item .label{
    font-weight: bold;
    color: black;
    font-family: oswald,sans-serif;
    font-style: normal;
    font-size: 15px;
}
#side_bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    bottom: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 20px black;
    display: none
}
#side_bar > header{
    border-bottom: #dcdcdc 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px
}
#side_bar > header .close_side_bar img{
    width: 20px;
    height: 20px;
    cursor: pointer
}
#side_bar > header .sigle_img img{
    width: 100px;
    height: 30px;
}
#side_bar .side_bar_item{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: right;
    cursor: pointer
}
#side_bar .side_bar_item:hover{
    background-color: #dbdbdb
}
#side_bar .side_bar_item .icon img{
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 25px
}
#side_bar .side_bar_item .label{
    color: black;
    font-family: oswald,sans-serif;
    font-style: normal;
    font-size: 18px;
}
#side_bar .categorie_label{
    color: #606060;
    font-family: oswald,sans-serif;
    font-style: normal;
    font-size: 18px;
}
body > header .mobile_navs{
    display: none;
    padding-top: 12px
}
body > header .mobile_navs .search_icon{
    width: 32px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
}
body > header .mobile_navs .nav_bar_icon{
    width: 40px;
    height: 20px;
    display: inline-block;
}
@media(min-width: 900px){
    body > header .nav_bar .nav_bar_item .sub_menu{
        right: 0;
    }
}
@media(max-width: 900px){
    body > header .search_box{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 50px;
        padding-right: 25px;
        padding-left: 25px;
        display: none
    }
    body > header .nav_bar{
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        background-color: #303030;
        padding-top: 25px;
        padding-bottom: 25px;
        display: none
    }
    body > header .nav_bar .nav_bar_item{
        margin: auto
    }
    body > header .mobile_navs{
        display: inline-block
    }
    body > header{
        padding-left: 30px;
        padding-right: 30px
    }
    body > header .nav_bar .nav_bar_item .sub_menu{
        left: 0;
        right: 0;
        width: 100%;
        top: 120px;
        position: fixed
    }
}